<% provide(:title, "Home") %>
<div class="center hero-unit" style="background-image: url(<%= asset_path 'tile.png' %>); border-style:solid;border-color:gray;border-width:15px;" >
	<h1 style="color:black;">Welcome to the Electronic Bulletin Board</h1>

	<h2 style="color:brown; font-weight:bold;">The Final Project for COS 243</h2>

	<%= link_to "Sign Up!", signup_path, class: "btn btn-large btn-inverse" %>

</div>