<% provide(:title, 'All Boards') %>
<h1>All Boards</h1>

<ul class="boards">
	<% @boards.each do |board| %>
	<li style="color:white; list-style-type: none; font-size:24px;">
		<% @user = User.find(board.user_id) %>
		<%= gravatar_for @user, size: 52 %>
		<%= link_to board.name, board %> (<%= board.width %>x<%= board.height %>)
	</li>
	<% end %>
</ul>